Password Flow
[
    {
        "id": "2fd918711ccc3c11",
        "type": "tab",
        "label": "Password ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22b42e6042d7c1ae",
        "type": "ui-text-input",
        "z": "2fd918711ccc3c11",
        "group": "32d17f8fc7ece00c",
        "name": "Enter your password",
        "label": "Enter your password",
        "order": 1,
        "width": "12",
        "height": "1",
        "topic": "password",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "sendOnClear": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "95b2ee612aee904c"
            ]
        ]
    },
    {
        "id": "2a45844b335711d4",
        "type": "ui-button",
        "z": "2fd918711ccc3c11",
        "group": "32d17f8fc7ece00c",
        "name": "Login",
        "label": "Login",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "6f5976b062b2dc75"
            ]
        ]
    },
    {
        "id": "6f5976b062b2dc75",
        "type": "change",
        "z": "2fd918711ccc3c11",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "password",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "95b2ee612aee904c"
            ]
        ]
    },
    {
        "id": "95b2ee612aee904c",
        "type": "function",
        "z": "2fd918711ccc3c11",
        "name": "function 2",
        "func": "var correctPassword = \"ProTech\"; // Change this to your desired password\n\nif (msg.payload == correctPassword) {\n    msg.payload = { \"tab\": \"ProTech\" }; // Redirect to main dashboard\n} else {\n    node.warn(\"Incorrect password! Try again.\");\n    msg.payload = { \"tab\": \"Welcome to ProTech\" }; // Stay on login tab\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "6609d0abf4ee5fef"
            ]
        ]
    },
    {
        "id": "6609d0abf4ee5fef",
        "type": "ui-control",
        "z": "2fd918711ccc3c11",
        "name": "",
        "ui": "996a4237e2450a99",
        "events": "connect",
        "x": 720,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "32d17f8fc7ece00c",
        "type": "ui-group",
        "name": "Welcome to ProTech",
        "page": "04cd515f48cf697c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "996a4237e2450a99",
        "type": "ui-base",
        "name": "Welcome to ProTech",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "04cd515f48cf697c",
        "type": "ui-page",
        "name": "Welcome to ProTech",
        "ui": "996a4237e2450a99",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "5d6ef8872f825be0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "5d6ef8872f825be0",
        "type": "ui-theme",
        "name": "ProTech Logo",
        "colors": {
            "surface": "#89f1ff",
            "primary": "#ffffff",
            "bgPage": "#0e3d43",
            "groupBg": "#0e3d43",
            "groupOutline": "#89f1ff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
