ProTech Main Dashboard Flow
[
    {
        "id": "038b5d69a7d5f28a",
        "type": "tab",
        "label": "ProTech",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a370142d669c1438",
        "type": "inject",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "d998715b6e6aacb6"
            ]
        ]
    },
    {
        "id": "d998715b6e6aacb6",
        "type": "file in",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "filename": "C:\\Users\\avant\\Downloads\\Fake Data Node Red 1.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "ff46438840efe3b2"
            ]
        ]
    },
    {
        "id": "ff46438840efe3b2",
        "type": "csv",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "833852ee7635075d"
            ]
        ]
    },
    {
        "id": "833852ee7635075d",
        "type": "ui-chart",
        "z": "038b5d69a7d5f28a",
        "group": "bf725c27242dce38",
        "name": "",
        "label": "Weekly View of Impact Events",
        "order": 1,
        "chartType": "histogram",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Day",
        "xAxisProperty": "Day",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "1",
        "xmax": "7",
        "yAxisLabel": "Number of Impacts",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": "7",
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ffffff"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#ffffff"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6b7e25a228cf15",
        "type": "switch",
        "z": "038b5d69a7d5f28a",
        "name": "Day Breakup",
        "property": "payload.Day",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Thu",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "676a03af45c7e62d"
            ]
        ]
    },
    {
        "id": "bf6afec204d23709",
        "type": "function",
        "z": "038b5d69a7d5f28a",
        "name": "function 1",
        "func": "msg.payload.Time = new Date(msg.payload.Time * 1000).toISOString(); // Converts Unix timestamp to ISO format\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            [
                "7a6b7e25a228cf15"
            ]
        ]
    },
    {
        "id": "676a03af45c7e62d",
        "type": "ui-chart",
        "z": "038b5d69a7d5f28a",
        "group": "6d0a26de0675e896",
        "name": "",
        "label": "Impacts Daily View (Thu)",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Time of Day",
        "xAxisProperty": "Time",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Force (N)",
        "yAxisProperty": "Force",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#ffffff"
        ],
        "textColorDefault": false,
        "gridColor": [
            "#ffffff"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "8",
        "className": "",
        "interpolation": "linear",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "afc74e4cfa0721c3",
        "type": "ui-switch",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "label": "",
        "group": "7da0b6828c4a6d46",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "8b13fd1cc59d9727",
                "c7ce7b3bdfe2f72a"
            ]
        ]
    },
    {
        "id": "8b13fd1cc59d9727",
        "type": "function",
        "z": "038b5d69a7d5f28a",
        "name": "function 2",
        "func": "if (msg.payload === true) {\n    msg.payload = {\n        groups: {\n            show: ['Page 1:Group 1'],\n            hide: ['Page 1:Group 2']\n        }\n    };\n} else {\n    msg.payload = {\n        groups: {\n            show: ['Page 1:Group 2'],\n            hide: ['Page 1:Group 1']\n        }\n    };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "f90b191d63895f8e"
            ]
        ]
    },
    {
        "id": "f90b191d63895f8e",
        "type": "ui-control",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "ui": "996a4237e2450a99",
        "events": "all",
        "x": 500,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4e97e965af8c0370",
        "type": "file in",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "filename": "C:\\Users\\avant\\Downloads\\Fake Data Node Red 1.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "c4bc44dc1fe66188"
            ]
        ]
    },
    {
        "id": "c4bc44dc1fe66188",
        "type": "csv",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "bf6afec204d23709"
            ]
        ]
    },
    {
        "id": "c7ce7b3bdfe2f72a",
        "type": "trigger",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "op1": "{ \"topic\": \"read_csv\" }",
        "op2": "0",
        "op1type": "json",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "true",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "4e97e965af8c0370"
            ]
        ]
    },
    {
        "id": "b3a48b40704d609d",
        "type": "ui-button",
        "z": "038b5d69a7d5f28a",
        "group": "c3de9631077c99a9",
        "name": "",
        "label": "Add a Report",
        "order": 1,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Form",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "50387cb75e456feb"
            ]
        ]
    },
    {
        "id": "50387cb75e456feb",
        "type": "function",
        "z": "038b5d69a7d5f28a",
        "name": "function 3",
        "func": "// Change to the target tab (page)\nmsg.payload = { \"tab\": \"Incident Report Log\" };  \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            [
                "98612232a3fd41b8"
            ]
        ]
    },
    {
        "id": "98612232a3fd41b8",
        "type": "ui-control",
        "z": "038b5d69a7d5f28a",
        "name": "",
        "ui": "996a4237e2450a99",
        "events": "all",
        "x": 520,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bf725c27242dce38",
        "type": "ui-group",
        "name": "Group 1",
        "page": "4bc288b38f475a5b",
        "width": "6",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6d0a26de0675e896",
        "type": "ui-group",
        "name": "Group 2",
        "page": "4bc288b38f475a5b",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7da0b6828c4a6d46",
        "type": "ui-group",
        "name": "Switch View",
        "page": "4bc288b38f475a5b",
        "width": "2",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "996a4237e2450a99",
        "type": "ui-base",
        "name": "Welcome to ProTech",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "c3de9631077c99a9",
        "type": "ui-group",
        "name": "Add a Report",
        "page": "4bc288b38f475a5b",
        "width": "4",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4bc288b38f475a5b",
        "type": "ui-page",
        "name": "ProTech",
        "ui": "996a4237e2450a99",
        "path": "/page1",
        "icon": "head",
        "layout": "grid",
        "theme": "5d6ef8872f825be0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "5d6ef8872f825be0",
        "type": "ui-theme",
        "name": "ProTech Logo",
        "colors": {
            "surface": "#89f1ff",
            "primary": "#ffffff",
            "bgPage": "#0e3d43",
            "groupBg": "#0e3d43",
            "groupOutline": "#89f1ff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
